.container {
  margin: 0 auto;
  max-width: 280px;
  padding: 2rem 0.5rem;
}

.smallContainer {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.poster {
  margin: 0 auto;
}

.movieBg {
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 0 auto;
  width: 150px;
}

.icon {
  width: 80px;
}

.button {
  background-color: var(--color-dark);
  border: none;
  border-radius: 100px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--color-orange);
  outline: none;
}

.error {
  color: var(--color-red);
}

.secondHeading {
  color: var(--color-orange);
  font-size: 30px;
  margin: 1.5rem 0;
  text-align: center;
}

.thirdHeading {
  color: var(--color-orange);

  font-size: 26px;
  margin: 1rem 0;
}

.fourthHeading {
  color: var(--color-orange);

  font-size: 20px;
  margin: 0.7rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

.link {
  color: var(--color-white);
  text-decoration: none;
  transition: color 250ms ease;
}

.link:visited {
  color: var(--color-gray);
}

.link:hover,
.link:focus {
  color: var(--color-orange);
  outline: none;
}

@media screen and (min-width: 768px) {
  .container {
    font-size: 18px;
    max-width: 650px;
    padding: 2rem 1rem;
  }

  .smallContainer {
    padding-bottom: 1.3rem;
  }

  .movieBg {
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 0 auto;
    width: 225px;
  }

  .icon {
    width: 120px;
  }

  .button {
    font-size: 18px;
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
  }

  .secondHeading {
    font-size: 36px;
    margin: 2rem 0;
  }

  .thirdHeading {
    font-size: 30px;
    margin: 1.5rem 0;
  }

  .fourthHeading {
    font-size: 26px;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    font-size: 20px;
    max-width: 1000px;
  }

  .smallContainer {
    padding-bottom: 1.3rem;
  }

  .movieBg {
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
    width: 300px;
  }

  .icon {
    width: 160px;
  }

  .button {
    font-size: 20px;
    margin-bottom: 2rem;
    padding: 1.3rem 3rem;
  }

  .secondHeading {
    font-size: 40px;
    margin: 2rem 0;
  }

  .thirdHeading {
    font-size: 30px;
    margin: 1.5rem 0;
  }

  .fourthHeading {
    font-size: 26px;
    margin: 1rem 0;
  }

  .list {
    gap: 1rem;
  }
}
